/* General */

* {
    margin: 0;
}

@font-face {
    font-family: 'Roboto';
    src: url("../../assets/fonts/Roboto-Regular.ttf");
}

body {
    background:#FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Header */

header {
    background-color:#000000;
    color:#FFFFFF;
    padding: 14px 0;
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin: 0 auto;
}

#header-logo-and-menu {
    display: flex;
    column-gap: 20px;
}

#logo {
    position: relative;
    width: 82px;
    height: 52px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

#logo-text {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    margin: 3px 0;
}

header img {
    position: absolute;
    top: 23px;
    left: 10px;
    border-style: none;
}

header ul {
    display: flex;
    column-gap: 60px;
    margin-top: 17px;
    list-style-type: none;
}

.menu-orange {
    color: #FE9013;
}

.header-designed:hover, .menu-white:hover {
    color: #FE9013;
}


/* Panda */

#panda-img {
    height: 390px;
    left: 0px;
    right: 0px;
    background-image: url('../../assets/images/panda_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}